.container-fluid{
	padding-top: 2%;

}

.container{
	padding: 3%;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

form{
	margin-top: 3%;
}

.module-container{
	border: 0.5px solid #333;
	padding-top: 1%;
	padding-bottom: 1%;
	height: auto;
	padding-right:20px;
}

.card{
	margin-top: 5% !important;	
	height:auto;
}

.icon{
	background-color: #ffc107;
	text-aligh: center;
	border: 0.5px solid black;
	border-radius: 2px;
	display: inline-block;
	width: 100%;
	padding-top:1%;
	padding-bottom:1%;
	padding-top:9px;
	padding-bottom:9px;
}

.icon-danger{
	background-color: red;
	text-aligh: center;
	border: 0.5px solid black;
	border-radius: 2px;
	display: inline-block;
	width: 100%;
	padding-top:1%;
	padding-bottom:1%;
	padding-top:9px;
	padding-bottom:9px;
}

i{
	text-align: center;
}

.save-btn{
	border: 0.5px solid black;
	border-radius:3px;
}

.module-container .row{
	padding-right:0px;
}


.content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}

.widget-action-bar{
	padding-left:15px;
	padding-right:15px !important;
}










/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}



